<div style="width: 100%;  height: 100%; display:none;opacity:0.9;position: absolute; left: 0; top: 0; z-index: 9999" id="loadDiv">
    <div class='loader' style="top:-200px;">
        <div class='loader_overlay'></div>
        <div class='loader_cogs'>
            <div class='loader_cogs__top'>
                <div class='top_part'></div>
                <div class='top_part'></div>
                <div class='top_part'></div>
                <div class='top_hole'></div>
            </div>
            <div class='loader_cogs__left'>
                <div class='left_part'></div>
                <div class='left_part'></div>
                <div class='left_part'></div>
                <div class='left_hole'></div>
            </div>
            <div class='loader_cogs__bottom'>
                <div class='bottom_part'></div>
                <div class='bottom_part'></div>
                <div class='bottom_part'></div>
                <div class='bottom_hole'></div>
            </div>
            <span style="font-family:微軟正黑體;font-size:30px;background-color:white;color:black;border:1px;border-color:black;border-radius:4px;border-style:solid;">讀取中</span>
        </div>
    </div>
</div>