<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <connectionStrings>
    <add name="MapRoadTrafficSignalConnectionString" connectionString="Data Source=KAI-PC\SQLEXPRESS;Initial Catalog=MapRoadTrafficSignal;User ID=talll;Password=123456"
      providerName="System.Data.SqlClient" />
    <add name="ITCindexConnectionString" connectionString="Data Source=KAI-PC\SQLEXPRESS;Initial Catalog=ITCindex;User ID=talll;Password=123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"
          maxRequestLength="10240" executionTimeout="300"  />
  
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff2" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
    </staticContent>
  </system.webServer>
</configuration>