<div class="panel panel-info nobr" style="border-color:#CFCFCF;">
    <div class="panel-body">
        <div class="row" style="font-size:18px;">
            <div class="col-md-12" style="padding-left:10px;padding-right:10px;margin-bottom:10px;">
                <div style="padding-left:25px;line-height:34px;vertical-align:middle;border:0px;border-bottom:1px;border-color:#B0B0B0;border-style:solid;padding-bottom:10px;">
                    <span class="boxTitle">基本資料</span>
                    <span ng-show="mapBase.nowSelectVer[0].State">
                        <button type="button" style="border-color:white;" class="btn btn-default pull-right" ng-click="roadBase.updateRoadBase('edit',mapBase.nowSelectVer.IntersectionDetailID,mapBase.nowSelectVer[0].State)" ng-show="roadBase.allEditIcno" ng-if="mapBase.Premission.ItemName[3].Permission" data-toggle="tooltip" data-placement="bottom" title="編輯基本資料">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </span>
                </div>
            </div>
            <script>
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
            </script>
            <div class="col-md-12" style="margin-bottom:10px;vertical-align:middle;line-height:34px;">
                <div class="row">
                    <div class="col-sm-4 col-xs-4">
                        日期：
                    </div>
                    <div class="col-sm-8 col-xs-8">
                        <div ng-hide="roadBase.baseData">{{nowSelectVer.VersionDate}}</div>
                        <input type="text" readonly id="roadDate" class="form-control" placeholder="日期" ng-show="roadBase.baseData" ng-model="nowSelectVer.VersionDate">
                        <script>
                            $('#roadDate').datetimepicker({
                                autoclose: true,
                                todayHighlight: true,
                                format: 'yyy-mm-dd',
                                minView: 2,
                                language: "zh-TW"
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-bottom:10px;vertical-align:middle;line-height:34px;">
                <div class="row">
                    <div class="col-sm-4 col-xs-4">
                        控制器廠牌：
                    </div>
                    <div class="col-sm-8 col-xs-8">
                        <div ng-hide="roadBase.baseData" style="-webkit-flex: 1;flex: 1;">{{nowSelectVer.Controller}}</div>
                        <input type="text" maxlength="18" style="-webkit-flex: 1;flex: 1;" class="form-control" placeholder="控制器廠牌" ng-show="roadBase.baseData" ng-model="nowSelectVer.Controller">
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-bottom:10px;vertical-align:middle;line-height:34px;">
                <div class="row">
                    <div class="col-sm-4 col-xs-4">
                        ＧＰＳ：
                    </div>
                    <div class="col-sm-8 col-xs-8">
                        <div ng-hide="roadBase.baseData" style="-webkit-flex: 1;flex: 1;">{{nowSelectVer.GPS}}</div>
                        <select class="form-control" style="-webkit-flex: 1;flex: 1;" ng-show="roadBase.baseData" ng-model="nowSelectVer.GPS">
                            <option>裝設</option>
                            <option>未裝設</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-bottom:10px;vertical-align:middle;line-height:34px;">
                <div class="row">
                    <div class="col-sm-4 col-xs-4">
                        備註：
                    </div>
                    <div class="col-sm-8 col-xs-8">
                        <div ng-hide="roadBase.baseData" style="-webkit-flex: 1;flex: 1;" ng-bind-html="nowSelectVer.Remark"></div>
                        <textarea style="height:100px;" maxlength="145" class="form-control" placeholder="備註" ng-show="roadBase.baseData" ng-model="nowSelectVer.Remark"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-12 collapse" id="roadBaseInfo1">
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <button type="button" style="width:100%;" class="btn btn-primary" ng-click="roadBase.updateRoadBase('ok',mapBase.nowSelectVer.IntersectionDetailID,mapBase.nowSelectVer[0].State)">確定</button>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <button type="button" style="width:100%;" class="btn btn-default" ng-click="roadBase.updateRoadBase('no',mapBase.nowSelectVer.IntersectionDetailID,mapBase.nowSelectVer[0].State)">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>