<div class="panel panel-info nobr" style="padding:10px;padding-top:0px;">
    <div class="panel-body">
        <div class="row" style="font-size:18px;">
            <div class="col-md-12" style="padding-left:10px;padding-right:10px;margin-bottom:10px;">
                <div style="padding-left:25px;line-height:34px;vertical-align:middle;border:0px;border-bottom:1px;border-color:#B0B0B0;border-style:solid;padding-bottom:10px;">
                    <span class="boxTitle">時制計劃</span>
                    <span ng-show="mapBase.nowSelectVer[0].State">
                        <button type="button" style="margin-right:0px;border:0px;" ng-show="roadBase.allEditIcno" class="btn btn-default pull-right fontBigSmaill" ng-click="roadBase.editTypePlan('edit')" ng-if="mapBase.Premission.ItemName[3].Permission" data-toggle="tooltip" data-placement="bottom" title="編輯計劃">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="button" style="margin-right:0px;border:0px;" ng-show="roadBase.allEditIcno" class="btn btn-default pull-right fontBigSmaill" ng-click="roadBase.newTimePlan('new',mapBase.nowSelectVer[0].State)" ng-if="mapBase.Premission.ItemName[3].Permission" data-toggle="tooltip" data-placement="bottom" title="新增計劃">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </span>
                    <button type="button" style="margin-right:0px;border:0px;" class="btn btn-default pull-right fontBigSmaill" ng-click="roadBase.moveTimePlan('left')" data-toggle="tooltip" data-placement="bottom" title="往右">
                        <i class="fa fa-chevron-right"></i>
                    </button>
                    <button type="button" style="margin-right:0px;border:0px;" class="btn btn-default pull-right fontBigSmaill" data-toggle="tooltip" data-placement="bottom" title="時相數量">
                        {{mapBase.nowSelectVer[0].TimePhase.length}}
                    </button>
                    <button type="button" style="margin-right:0px;border:0px;" class="btn btn-default pull-right fontBigSmaill" ng-click="roadBase.moveTimePlan('right')" data-toggle="tooltip" data-placement="bottom" title="往左">
                        <i class="fa fa-chevron-left"></i>
                    </button>

                </div>
            </div>
            <script>
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
            </script>
            <div id="insertTimePlan1" class="collapse col-md-12">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="bs-callout bs-callout-info" style="background-color:white;border-top-color:#CFCFCF;border-right-color:#CFCFCF;border-bottom-color:#CFCFCF;">
                                <div style="margin-bottom:10px;">新增時制計劃</div>
                                <div class="row" style="margin-bottom:10px;">
                                    <div class="col-xs-12 col-sm-4">
                                        <div style="font-size:8px;">計劃編號</div>
                                        <input type="text" maxlength="2" class="form-control" placeholder="計劃編號" ng-model="roadBase.insertValue.TimePlanSN">
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div style="font-size:8px;">
                                            時相編號
                                        </div>
                                        <input type="text" maxlength="2" class="form-control" placeholder="時相編號" ng-model="roadBase.insertValue.TimePhaseSN">
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div style="font-size:8px;">
                                            時差
                                        </div>
                                        <input type="text" maxlength="2" class="form-control" placeholder="時差" ng-model="roadBase.insertValue.TimeDiff">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-6">
                                        <button type="button" class="btn btn-primary fontBigSmaill" style="width:100%" ng-click="roadBase.newTimePlan('ok',mapBase.nowSelectVer[0].State)">確定</button>
                                    </div>
                                    <div class="col-md-6 col-xs-6">
                                        <button type="button" class="btn btn-default fontBigSmaill" style="width:100%" ng-click="roadBase.newTimePlan('no',mapBase.nowSelectVer[0].State)">取消</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="kai-callout kai-callout-info" style="padding:0px;">
                            <div style="padding:5px;padding-left:20px;border:0px;border-bottom:1px;border-color:#B0B0B0;border-style:solid;">
                                計劃內容
                            </div>
                            <div id="timePlanShow1" class="collapse in">
                                <table class="table table-striped " style="margin-bottom:0px;text-align:center;">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;">計編</th>
                                            <th style="text-align:center;">時編</th>
                                            <th style="text-align:center;">時差</th>
                                            <th style="text-align:center;">周期</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="TimePlan in nowSelectVer.TimePlan">
                                            <td>
                                                {{TimePlan.TimePlanSN}}
                                            </td>
                                            <td>
                                                {{TimePlan.TimePhaseSN}}
                                            </td>
                                            <td>
                                                {{TimePlan.TimeDiff}}
                                            </td>
                                            <td>
                                                {{TimePlan.TimePlanCycle}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="timePlanEdit1" class="collapse">
                                <table class="table table-striped" style="margin-bottom:0px;text-align:center;">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;">計編</th>
                                            <th style="text-align:center;">時編</th>
                                            <th style="text-align:center;">時差</th>
                                            <th style="text-align:center;">刪除</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="TimePlan in nowSelectVer.TimePlan">
                                            <td width="25%">
                                                {{TimePlan.TimePlanSN}}
                                            </td>
                                            <td width="25%">
                                                <input type="text" maxlength="2" class="form-control" placeholder="時編" ng-model="TimePlan.TimePhaseSN">
                                            </td>
                                            <td width="25%">
                                                <input type="text" maxlength="2" class="form-control" placeholder="時差" ng-model="TimePlan.TimeDiff">
                                            </td>
                                            <td width="25%">
                                                <button type="button" class="btn btn-default" ng-click="roadBase.editTypePlan('delete',$index,'',mapBase.nowSelectVer[0].State)" data-toggle="tooltip" data-placement="bottom" title="刪除計劃">
                                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div style="border:0px;border-bottom:1px;border-color:#B0B0B0;border-style:solid"></div>
                                <div style="margin:10px;padding-left:10px;padding-right:10px">
                                    <div class="row">
                                        <div class="col-md-6 col-xs-6">
                                            <button type="button" style="width:100%" class="btn btn-primary" ng-click="roadBase.editTypePlan('ok','','',mapBase.nowSelectVer[0].State)">確定</button>
                                        </div>
                                        <div class="col-md-6 col-xs-6">
                                            <button type="button" style="width:100%" class="btn btn-default" ng-click="roadBase.editTypePlan('no','','',mapBase.nowSelectVer[0].State)">取消</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapse in" ng-repeat="TimePhase in nowSelectVer.TimePhase" ng-show="roadBase.timePlanDetail{{$index+1}}">
                        <div class="col-xs-4">
                            <div class="kai-callout kai-callout-warning fontBigSmaill" style="padding:0px;">
                                <div style="padding:5px;padding-left:20px;border:0px;border-bottom:1px;border-color:#B0B0B0;border-style:solid;">
                                    時相{{$index+1}}
                                </div>
                                <div class="TimePhaseShowSN collapse in">
                                    <table class="table table-striped" style="margin-bottom:0px;text-align:center;">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center;">ＰＨ</th>
                                                <th style="text-align:center;">Ｇ</th>
                                                <th style="text-align:center;">Ｙ</th>
                                                <th style="text-align:center;">Ｒ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="TimePhaseDetail in TimePhase.TimePhaseDetail">
                                                <td>
                                                    {{TimePhaseDetail.PH}}
                                                </td>
                                                <td>
                                                    {{TimePhaseDetail.G}}
                                                </td>
                                                <td>
                                                    {{TimePhaseDetail.Y}}
                                                </td>
                                                <td>
                                                    {{TimePhaseDetail.R}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="TimePhaseEditSN collapse">
                                    <table class="table table-striped" style="margin-bottom:0px;text-align:center;">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center;">ＰＨ</th>
                                                <th style="text-align:center;">Ｇ</th>
                                                <th style="text-align:center;">Ｙ</th>
                                                <th style="text-align:center;">Ｒ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="TimePhaseDetail in TimePhase.TimePhaseDetail">
                                                <td width="25%">
                                                    <input type="text" class="form-control" style="font-size:8px;" placeholder="ＰＨ" ng-model="TimePhaseDetail.PH" disabled>
                                                </td>
                                                <td width="25%">
                                                    <input type="number" min="0" max="200" ng-change="roadBase.TimePhaseDetailChange('G',TimePhaseDetail)" class="form-control" style="font-size:8px;" placeholder="Ｇ" ng-model="TimePhaseDetail.G">
                                                </td>
                                                <td width="25%">
                                                    <input type="number" min="0" max="99" ng-change="roadBase.TimePhaseDetailChange('G',TimePhaseDetail)" class="form-control" placeholder="Ｙ" ng-model="TimePhaseDetail.Y">
                                                </td>
                                                <td width="25%">
                                                    <input type="number" min="0" max="99" ng-change="roadBase.TimePhaseDetailChange('G',TimePhaseDetail)" class="form-control" placeholder="Ｒ" ng-model="TimePhaseDetail.R">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>