<nav class="navbar navbar-default" role="navigation" style="margin-bottom:0px;border:0px;border-bottom:1px;border-color:#B0B0B0;border-style:solid;">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.aspx">交通號誌時制管理系統</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" role="search">
             
            </form>
            <script>
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
            </script>
        </div>
    </div>
</nav>